/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #C9E3A3;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #458514;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #458514;
}
.popup_nav_form_text::-webkit-scrollbar {
    display: none; /* Chrome Safari */
  }
  
  .popup_nav_form_text {
    scrollbar-width: none; /* firefox */
    -ms-overflow-style: none; /* IE 10+ */
    overflow-x: hidden;
    overflow-y: auto;
  }
.pop_icon {
    cursor: pointer;
    position: absolute;
    width: 80px;
    height: 80px;
    z-index: 10;
}

.pop_icon:hover {
    transform: translateY(-20px);
    transition-duration: .3s;
}

.pop1 {
    top: 100px;
    left: 100px;
}

.pop2 {
    top: 250px;
    left: 250px;
}

.pop3 {
    top: 400px;
    left: 400px;
}

.pop4 {
    top: 400px;
    left: 600px;
}

.pop5 {
    top: 400px;
    left: 800px;
}

.popup_bg {
    position: absolute;
    display: none;
    z-index: 23;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup_title {
    border-bottom: 1px solid #E0E2E6;
    padding: 30px 0 20px;
    width: 480px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.06em;
}

.popup_content {
    width: 640px;
    height: 620px;
    background: #FFFFFF;
    border-radius: 15px;
    position: absolute;
    z-index: 24;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.popup_form_text {
    font-size: 18px;
    padding: 20px;
}

.close {
    font-size: 30px;
    font-family: 'Trebuchet MS';
    position: absolute;
    right: 30px;
    top: 30px;
    color: darkslateblue;
    cursor: pointer;
}

.the_video {
    text-align: center;
}


/* =========  popup Nav ========= */

.popup_nav_content {
    width: 640px;
    height: 620px;
    background: #FFFFFF;
    border-radius: 15px;
    position: absolute;
    z-index: 24;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.popup_nav_title {
    border-bottom: 1px solid #E0E2E6;
    padding: 30px 0 20px;
    width: 480px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.06em;
}

.popup_nav_form_text {
    font-size: 18px;
    padding: 20px;
    margin: 15px auto;
    overflow: scroll;
    width: 500px;
    height: 400px;
}

.close_nav {
    width: 320px;
    height: 61px;
    margin: 25px auto 45px;
    background: #458514;
    border-radius: 34px;
    font-weight: 600;
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.close_nav:hover {
    background: #FFFFFF;
    border: 1px solid #458514;
    border-radius: 34px;
    color: #458514;
    transition: .4s;
}