/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #C9E3A3;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #458514;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #458514;
}

/* ================      pop_icon    ================ */
.pop_icon_all {
    text-align: center;
    width: 288px;
    cursor: pointer;
    position: absolute;
    z-index: 10;
}

.pop_icon_content {
    text-align: center;
    width: 288px;
    /* border: 3px solid #002F73; */
    border-radius: 10px;
}

.pop_icon_title {
    height: 30px;
    /* background: #002F73; */
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
}

.pop_icon_txt {
    height: 45px;
    line-height: 45px;
    background: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    border-radius: 0px 0px 8px 8px;
}

.pop_icon_all:hover .pop_icon_arrow {
    transform: translateY(10px);
    transition: 0.4s;
}

.pop_icon:hover {
    transform: translateY(-20px);
    transition-duration: .3s;
}

.pop1 .pop_icon_content {
    border: 3px solid #01BA63;
    background: #01BA63;
}

.pop1 .pop_icon_title {
    background: #01BA63;
}

.pop2 .pop_icon_content {
    border: 3px solid #0185CC;
    background: #0185CC;
}

.pop2 .pop_icon_title {
    background: #0185CC;
}

.pop3 .pop_icon_content {
    border: 3px solid #002F73;
    background: #002F73;
}

.pop3 .pop_icon_title {
    background: #002F73;
}

.pop4 .pop_icon_content {
    border: 3px solid #FF2C79;
    background: #FF2C79;
}

.pop4 .pop_icon_title {
    background: #FF2C79;
}

.pop5 .pop_icon_content {
    border: 3px solid #F2913E;
    background: #F2913E;
}

.pop5 .pop_icon_title {
    background: #F2913E;
}


#pop1 {
    top: 100px;
    left: 100px;
}

#pop2 {
    top: 250px;
    left: 250px;
}

#pop3 {
    top: 400px;
    left: 400px;
}

#pop4 {
    top: 200px;
    left: 600px;
}

#pop5 {
    top: 400px;
    left: 800px;
}

#pop6 {
    top: 800px;
    left: 1000px;
}

#pop7 {
    top: 700px;
    left: 200px;
}

/* ================      pop_icon end   ================ */
.popup_bg {
    position: absolute;
    display: none;
    z-index: 23;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup_title {
    width: 625px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.06em;
}

.popup_title_big {
    margin: 25px auto 10px;
    font-weight: 600;
    font-size: 30px;
}

.popup_title_small {
    margin: 0 auto;
    font-size: 24px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E0E2E6;
}

.popup_content {
    width: 685px;
    height: 680px;
    background: #FFFFFF;
    border-radius: 15px;
    position: absolute;
    z-index: 24;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.popup_form_text {
    font-size: 18px;
    margin: 15px auto 45px;
    padding: 0px 10px;
    overflow-y: scroll;
    width: 625px;
    height: 500px;
}

.close {
    width: 55px;
    height: 55px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    transition: all .6s ease-out;
}

.close img {
    width: 100%;
}

.close:hover {
    transform: scale(1.2, 1.2);
}

.the_video {
    text-align: center;
}


/* =========  popup Nav ========= */

.popup_nav_content {
    width: 640px;
    height: 620px;
    background: #FFFFFF;
    border-radius: 15px;
    position: absolute;
    z-index: 24;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.popup_nav_title {
    border-bottom: 1px solid #E0E2E6;
    padding: 30px 0 20px;
    width: 480px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.06em;
}

.popup_nav_text {}

.popup_nav_form_text {
    font-size: 18px;
    padding: 20px;
    margin: 15px auto;
    overflow-y: scroll;
    width: 500px;
    height: 400px;
}

.popup_nav_img {
    width: 450px;
    height: 231.19px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}

.popup_nav_img2 {
    width: 450px;
    height: 311.25px;
}

.popup_nav_img img {
    width: 100%;
    height: 100%;
}

.popup_nav_word {
    padding: 35px 0px 0px;
    line-height: 35px;
}

.popup_word_title {
    margin-top: 16px;
    font-size: 16px;
}

.popup_word_title_nd {
    margin-top: 30px;
    font-size: 16px;
}
.popup_word_content{
    font-size: 16px;
}
.popup_word_content_nd {
    font-size: 16px;
}
.popup_word_content_rd {
    font-size: 16px;
}
.popup_word_content {
    padding: 10px 0px 10px 17px;
    line-height: 35px;
}

.popup_word_content_nd {
    padding: 10px 0px 10px 29px;
}

.popup_word_content_rd {
    padding: 16px 0px 10px 0px;
}

.popup_word {
    padding: 35px 0px 20px;
    line-height: 35px;
}

.popup_word_nd {
    margin-left: 20px;
}

.close_nav {
    width: 320px;
    height: 61px;
    margin: 25px auto 45px;
    background: #458514;
    border-radius: 34px;
    font-weight: 600;
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.close_nav:hover {
    background: #FFFFFF;
    border: 1px solid #458514;
    border-radius: 34px;
    color: #458514;
    transition: .4s;
}

@media (max-width: 767.98px) {
    .popup_content {
        width: 530px;
        height: 530px;
    }

    .popup_title {
        width: 500px;
        line-height: 36px;
    }
    .popup_title_big {
        margin: 25px auto 5px;
        font-weight: 600;
        font-size: 26px;
    }
    
    .popup_title_small {
        margin: 0 auto;
        font-size: 20px;
        padding-bottom: 15px;
        border-bottom: 1px solid #E0E2E6;
    }
    .popup_form_text{
        width: 500px;
        height: 360px;
    }
    .player{
        width: 464px;
        height: 261px;
        margin: 0 auto;
    }
    iframe{
        width: 464px;
        height: 261px;
    }
    .close {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 575.98px) {
    .popup_content {
        width: 320px;
        height: 450px;
    }

    .popup_title {
        width: 300px;
    }
    .popup_word_title {
        margin-top: 12px;
    }
    .popup_title_big {
        margin: 15px auto 0px;
        font-weight: 600;
        font-size: 21px;
    }
    
    .popup_title_small {
        font-size: 16px;
        padding-bottom: 10px;
    }

    .popup_title_small_2{
        font-size: 16px;
    }
    .popup_form_text{
        width: 300px;
        height: 320px;
        padding: 0px 5px;
        margin: 10px auto 45px;
    }
    .popup_word_content {
        padding: 10px 0px 10px 17px;
        line-height: 26px;
    }
    .popup_word_all{
        max-width: 280px;
        margin: 0 auto;
    }
    .player{
        width: 280px;
        height: 157.5px;
    }
    iframe{
        width: 280px;
        height: 157.5px;
    }
    .close {
        width: 35px;
        height: 35px;
        right: 12px;
        top: 12px;
    }
}