* {
  /* scroll-snap-type: none; */
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'PingFang TC';
  letter-spacing: 0.03em;
}

body {
  color: #484848;
}
a {
  text-decoration: none;
}

header {
  width: 100%;
  max-height: 85px;
  height: 85px;
  background-color: #fff;
  z-index: 23;
  margin: 0;
  position: fixed;
}

/* ================  nav   =============== */
.ham {
  display: none;
}

#nav-toggle {
  display: none;
}

.nav {
  height: 85px;
}

.nav_all {
  display: flex;
  justify-content: space-between;
  margin: 0 120px;
}

.nav_logo {
  width: 180px;
}

.nav_logo a {
  display: flex;
  align-items: center;
  height: 85px;
  width: 100%;
}

.nav_logo a img {
  width: 100%;
}
.game_nav_logo {
  width: 180px;
}

.game_nav_logo a {
  display: flex;
  align-items: center;
  height: 85px;
  width: 100%;
}

.game_nav_logo a img {
  width: 100%;
}

.nav_title_all {
  display: flex;
  align-items: center;
  line-height: 83px;
  height: 85px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.nav_title {
  cursor: pointer;
  margin-right: 35px;
}

.nav_title_end {
  margin-right: 0px;
  cursor: pointer;
  margin-right: 35px;
}

.nav_title_txt {
  position: relative;
}

.nav_title .nav_title_txt:hover {
  color: #458514;
}
.nav_title_end .nav_title_txt:hover {
  color: #458514;
}
.nav_title_home{
  width: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

/* ================  nav   =============== */

/* ============  rwd   ============ */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .nav_title {}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .nav_title_all {}

  .nav_title {}

  .nav_logo {}
}

@media (min-width: 768px) and (max-width: 991.98px) {
  header {
    height: 75px;
  }

  .nav {
    height: 75px;
  }

  .nav_all {
    height: 75px;
    margin: 0 60px;
  }

  .nav_logo a {
    height: 75px;
  }

  .game_nav_logo a{
    height: 75px;
  }

  .nav_title_all {
    height: 75px;
    line-height: 73px;
  }

  .nav_title {
    font-size: 16px;
  }
  .nav_title_end {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .nav_title_txt:after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    border-bottom: 5px solid #458514;
    transition: 0.4s;
  }

  .nav_title_txt:hover:after {
    width: 100%;
  }
}

@media (max-width: 767.98px) {
  body {
    position: relative;
  }

  header {
    height: 65px;
    position: sticky;
    top: 0;
    left: 0;
  }

  .nav {
    height: 65px;
    position: relative;
    top: 0;
    z-index: 100;
  }

  .nav_logo {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 65px;
    line-height: 65px;
    background-color: #fff;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, .2);
  }

  .nav_logo a {
    height: 65px;
    margin-left: 5%;
    width: 142px;
    padding: 12px 0px 11px;
  }
  .game_nav_logo {
    height: 65px;
    line-height: 65px;
  }

  .game_nav_logo a {
    height: 65px;
    margin-left: 5%;
    width: 142px;
    padding: 12px 0px 11px;
  }

  .nav_all {
    justify-content: space-between;
    position: sticky;
    top: 0;
    height: 65px;
    z-index: 1000;
    margin: 0;
  }

  /* 漢堡選單樣式 */
  .ham {
    width: 71px;
    height: 65px;
    display: block;
    position: relative;
    z-index: 100;
    background-color: #fff;
    border-left: 1px solid #D1DEE1;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, .2);
  }


  .ham-origin {
    position: absolute;
    top: 47%;
    left: 30%;
  }

  .ham-bar {
    height: 4px;
    width: 30px;
    position: absolute;
    background: #458514;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    transition: all 0.5s;
  }

  .ham-bar--top {
    transform: translateY(-10px);
  }

  .ham-bar--bottom {
    transform: translateY(10px);
  }

  #nav-toggle:checked~.ham .ham-bar--middle {
    opacity: 0;
  }

  #nav-toggle:checked~.ham .ham-bar--top {
    transform: rotate(-45deg);
  }

  #nav-toggle:checked~.ham .ham-bar--bottom {
    transform: rotate(45deg);
  }

  #nav-toggle:checked~.ham .ham-bar--middle {
    opacity: 0;
  }

  #nav-toggle:checked~.nav_title_all {
    transform: none;
    position: absolute;
    top: 65px;
    z-index: 0;
  }

  .nav_title_all {
    display: block;
    height: 197px;
    width: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 0;
    right: 0;
    top: 0;
    line-height: 65px;
    /* 用 translate 把選單藏到畫面右邊去 */
    transform: translateY(-100%);
    transition: transform 0.5s;
  }

  .nav_title {
    border-bottom: 1px solid #bdbdbd;
    display: flex;
    justify-content: center;
    height: 65px;
    line-height: 65px;
    margin: 0;
  }
  .nav_title_end {
    border-bottom: 1px solid #bdbdbd;
    display: flex;
    justify-content: center;
    height: 65px;
    line-height: 65px;
    margin: 0;
    border-radius: 0px 0px 10px 10px;
    border-bottom: 0px;
  }
  .nav_title_img {
    display: block;
  }

  .nav_title:hover {
    color: #458514;
  }
  .nav_title_end:hover {
    color: #458514;
  }
}

@media (max-width: 575.98px) {
  .ham-bar {
    height: 4px;
    width: 25px;
  }

  .ham-bar--top {
    transform: translateY(-10px);
  }

  .ham-bar--bottom {
    transform: translateY(10px);
  }

}